.dropdown {
}

.dropdown_toggle_desktop {
  display: none;
}

.dropdown_toggle_mobile {
  display: block;
}

.dropdown_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;

  color: var(--gray-600);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  border: 1px solid var(--gray-100);
  border-radius: 4px;
}


.dropdown_btn_active {
  border: 1px solid var(--primary);
    color: var(--gray-700);


  .arrow_icon {
    transform: rotate(270deg);
    stroke: var(--gray-800);
  }
}


.arrow_icon {
  margin: 0 0 0 8px;
  width: 8px;
  stroke: var(--gray-700);
  stroke-width: 1.5;

  transform: rotate(90deg);
  transition: transform .3s ease;
}


.dropdown_desktop_menu_wrap {
  display: none;
}

.dropdown_mobile_menu_wrap {
  display: block;
}


.dropdown_menu {
  z-index: 11;
  display: none;
  background: var(--white);
  overflow: hidden;
  padding: 12px 0;
}


.dropdown_desktop_menu {
  position: absolute;
  min-width: 200px;
  border-radius: 12px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, .1);
}


.dropdown_mobile_menu {
  position: fixed;
  inset: auto auto 0 0;
  width: 100%;

  border-radius: 12px 12px 0 0;
}


.dropdown_menu_show {
  display: block;
}


.dropdown_list {
  width: 100%;
}


.dropdown_item {
  padding: 8px 16px;

  color: var(--gray-700);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  cursor: pointer;
}


.dropdown_item_active {
  background: var(--green-gray-50);
  color: var(--gray-700);
}



@media (min-width: 640px) {
  .dropdown_btn {
    padding: 8px 16px;
  }

  .arrow_icon {
    margin: 0 0 0 12px;
  }
}

@media (min-width: 1024px) {
  .dropdown_toggle_desktop {
    display: block;
  }

  .dropdown_toggle_mobile {
    display: none;
  }

  .dropdown_desktop_menu_wrap {
    display: block;
  }

  .dropdown_mobile_menu_wrap {
    display: none;
  }

}


