.form {
  max-width: 500px;
  width: 100%;
  padding: 24px 24px 32px 24px;
  border: 1px solid var(--gray-50);
  border-radius: 8px;
  box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.08);
}

.title {
  margin-bottom: 20px;
  color: var(--gray-900);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}