.cart {
  padding: 40px 0 80px 0;
}

.cart_empty {
  min-height: calc(100vh - (128px + 363px));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--gray-900);
  text-align: center;
}

.description {
  margin-bottom: 24px;

  color: var(--gray-600);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.content {
  display: flex;
}

.left {
  margin: 0 24px 0 0;
  width: 65%;
}

.right {
  width: 35%;
}

.section {
  border: 1px solid var(--gray-100);
  border-radius: 8px;
}

.order {
  padding: 24px;
}

.order_title {
  margin: 0 0 8px;
  color: var(--gray-900);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;

}

.order_list {
  margin-bottom: 20px;
}

.order_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-100);
  }

}

.order_row_title {
  color: var(--gray-700);
  line-height: 1.5;
}

.order_row_value {
  color: var(--gray-900);
  font-weight: 500;
  line-height: 1.5;
}

.order_total_price {
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.order_btn {
  width: 100%;
}

