.filter {
  max-width: 240px;
  width: 100%;
  margin-right: 24px;
}

.item {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-100);
}

.item_title {
  margin-bottom: 12px;
  color: var(--gray-900);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.genres_list {
}

.genres_item {
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.genres_link {
  display: inline-block;
  padding: 4px 12px;

  border-radius: 3px;

  color: var(--gray-700);
  font-size: 14px;
  font-weight: 500;

}

.active {
  background: var(--green-gray-50);
}

.price {
  display: flex;
  align-items: center;
}

.price_input_wrap {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.price_input_title {
  margin-bottom: 4px;

  color: var(--gray-500);
  font-size: 14px;
  line-height: 1.5;
}


.checkbox_list {
  width: 100%;
}

.checkbox_list_search {
  margin-bottom: 16px;
}

.checkbox_list_list {
  max-height: 190px;

  overflow-y: scroll;
}

.checkbox_list_item {

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.checkbox_list_text {
  margin-right: 4px;
  font-size: 15px;
}

