.btn-small {
  display: inline-block;
  padding: 8px 18px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

.btn-large {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

.btn-fill {
  color: var(--white);
  background: var(--primary);
  border: 2px solid transparent;
  border-radius: 50px;

  &:hover {
    background: var(--primary-dark);
  }
}

.btn-outline {
  color: var(--primary);
  background: var(--white);
  border: 2px solid var(--primary);
  border-radius: 50px;

  &:hover {
    color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
  }
}

.btn-text {
  color: var(--primary);
  background: rgb(86, 172, 89, 0.1);
  border: 2px solid transparent;
  border-radius: 50px;

  &:hover {
    color: var(--primary-dark);
    background: rgb(44, 116, 47, 0.2);
  }
}


@media (min-width: 640px) {
  .btn-small {
    padding: 8px 22px;
    font-size: 12px;
  }

  .btn {
    padding: 12px 30px;
    font-size: 14px;
  }

  .btn-large {
    padding: 14px 38px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
}
