.title_wrap {
  display: flex;
  align-items: flex-end;
  padding: 12px 0 16px 0;
}

.title {
  margin-right: 12px;
  color: var(--gray-900);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.total_count {
  color: var(--gray-400);
  font-size: 12px;
  line-height: 1.5;
}

.main {
  display: flex;
  padding-bottom: 80px;
}

.content {
  width: 100%;
}

.content_top {
  margin: 0 0 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.product_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  padding: 12px 0 56px;
}

.pagination_wrap {
  display: flex;
  justify-content: center;
}



@media (min-width: 640px) {
  .title_wrap {
    padding: 0 0 32px 0;
  }

  .title {
    margin-right: 16px;
    font-size: 32px;
  }

  .total_count {
    font-size: 14px;
  }

  .content_top {
    margin: 0 0 24px 0;
  }

  .product_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    padding: 16px 0 104px;
    border-top: 1px solid var(--gray-100);
  }
}

@media (min-width: 1024px) {
}


