.filter_desktop {
  display: none;
  max-width: 240px;
  width: 100%;
  margin-right: 24px;
}

.filters_mobile_btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  margin-right: 8px;

  color: var(--gray-600);
  font-size: 14px;
  font-weight: 500;

  border: 1px solid var(--gray-100);
  border-radius: 4px;
}

.filters_mobile_btn_active {
  color: var(--gray-700);
  border-color: var(--primary);
}

.filters_mobile_btn_icon {
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.filters_mobile {
  width: 100%;
  height: 100%;
  background: var(--white);
}

.filters_mobile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 28px 16px;
}

.filters_mobile_header_title {
  color: var(--gray-900);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.filters_mobile_header_btn {
  height: 32px;
  width: 32px;
  fill: var(--gray-400);
}

.filters_mobile_list {
  height: calc(100% - 76px - 77px);
  padding: 0 16px 0 16px;
  overflow-x: scroll;
}

.filters_mobile_footer {
  padding: 16px;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
}

.filters_mobile_footer_btn {
  width: 100%;
}

.item {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-100);
}

.item_title {
  margin-bottom: 10px;
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.genres_list {
}

.genres_item {
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.genres_link {
  display: inline-block;
  padding: 4px 12px;

  border-radius: 3px;

  color: var(--gray-700);
  font-size: 14px;
  font-weight: 500;

}

.active {
  background: var(--green-gray-50);
}

.price {
  width: 100%;
  display: flex;
  align-items: center;
}

.price_input_wrap {
  width: 50%;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.price_input_title {
  margin-bottom: 4px;

  color: var(--gray-500);
  font-size: 14px;
  line-height: 1.5;
}


.checkbox_list {
  width: 100%;
}

.checkbox_list_search {
  margin-bottom: 16px;
}

.checkbox_list_list {
  max-height: 190px;

  overflow-y: scroll;
}

.checkbox_list_item {

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.checkbox_list_text {
  margin-right: 4px;
  font-size: 15px;
}


@media (min-width: 640px) {
  .filters_mobile_btn {
    padding: 8px 16px;
  }
}

@media (min-width: 1024px) {
  .filter_desktop {
    display: block;
  }

  .filters_mobile_btn {
    display: none;
  }

  .item_title {
    font-size: 18px;
  }
}

