.footer {
  background: var(--gray-900);
}

.footer_top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 32px 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.logo {
  margin-bottom: 12px;
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;

  span {
    color: var(--primary);
  }
}

.description {
  max-width:400px;
  margin-bottom: 12px;
  color: var(--gray-500);
  font-size: 15px;
  text-align: center;
}

.contacts {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.contact {
  padding: 6px 0;
  border-bottom: 2px solid var(--primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.dividing {
  padding-bottom: 4px;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.footer_bottom {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-top: 1px solid var(--gray-800);
}

.copyright {
  color: var(--gray-500);
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}


@media (min-width: 640px) {
  .footer_top {
    justify-content: space-between;
    padding: 64px 0;
  }

  .info {
    display: block;
    width: auto;
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 16px;
  }

  .footer_bottom {
    padding: 20px 0;
  }

  .copyright {
    font-size: 14px;
  }

  .description {
    max-width: 300px;
    margin-bottom: 16px;
    text-align: left;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
}