
.top {
  display: none;
  padding: 16px 20px;
  border-bottom: 1px solid var(--gray-100);
}

.list {
  padding: 0 6px;
  border-bottom: 1px solid var(--gray-100);
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 6px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  max-width: 100%;
}

.col {
  display: flex;
}

.col_desktop {
  display: none;
}

.item {
  padding: 8px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-100);
  }
}

.item_info {
  display: flex;
  width: 100%;
  gap: 16px;
}

.item_info_main {

}

.item_info_price {
  margin-bottom: 6px;
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.item_info_count {
  margin-bottom: 16px;
}

.item_img_wrap {
  position: relative;
  margin-right: 16px;
  min-width: 90px;
  width: 90px;

  border-radius: 4px;
  overflow: hidden;
}

.item_img {
  max-width: 100%;
  width: 100px;
}

.item_title {
  margin-bottom: 16px;
  color: var(--gray-900);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.item_price {
  display: none;
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.item_subtotal {
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.item_btn_remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background: var(--gray-50);
  border-radius: 100px;

  &:hover {
    background: var(--gray-100);

    .item_btn_remove_icon {
      fill: var(--gray-900);
    }
  }
}

.item_btn_remove_icon {
  width: 20px;
  height: 20px;
  fill: var(--gray-600);
}

.count {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  border: 1px solid var(--gray-100);
  border-radius: 50px;
}

.count_btn {
  height: 32px;
  width: 32px;
  background: var(--gray-100);
  border-radius: 100%;

  &:disabled {
    opacity: 0.7;
  }
}

.count_minus,
.count_plus {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 12px;
    height: 2px;
    background: var(--gray-900);

    border-radius: 2px;
    transform: translate(-50%, -50%);
  }
}

.count_plus {

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 2px;
    height: 12px;
    background: var(--gray-900);

    border-radius: 2px;
    transform: translate(-50%, -50%);
  }

}

.count_input {
  width: 40px;

  color: var(--gray-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  &:focus-visible {
    outline: none;
  }
}

.col_name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.40px;
  text-transform: uppercase;
  color: var(--gray-500);
}





@media (min-width: 640px) {
  .list {
    padding: 0 20px;
  }

  .bottom {
    padding: 16px 20px;
  }

  .item {
    padding: 12px 0;
  }
}


@media (min-width: 1024px) {
  .top {
    display: block;
  }

  .col_desktop {
    display: block;
  }

  .row {
    grid-template-columns: 3fr 1fr 114px;
  }

  .item_info {
    width: 100%;
  }

  .item_info_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item_info_price {
    display: none;
  }

  .item_info_count {
    display: none;
  }

  //.item_title {
  //  font-size: 16px;
  //}
}


