.button {
  padding: 12px;
  background: var(--primary);
  border-radius: 8px;
}

.button_line {
  display: block;
  height: 2px;
  width: 24px;

  background: var(--white);
  border-radius: 4px;

  &:not(:last-child) {
    margin: 0 0 8px;
  }
}

.modal {
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
}

.menu {
  padding: 16px 12px;
  width: 320px;
  height: 100%;
  background: var(--white);

  overflow-y: auto;
}

.title {
  color: var(--gray-900);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
}

.item {
  width: 100%;
  border-radius: 10px;

  &:hover {
    background: var(--green-gray-50);

    .text {
      color: var(--primary);
    }
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 8px 24px;
}


.item_text {
  color: var(--gray-900);
}

