.header {
  box-shadow: 0 0 2px rgba(0,0,0,.24), 2px 4px 8px rgba(0,0,0,.04);
  background: var(--white);
}

.cart_button {
  position: relative;
}

.cart_notify {
  position: absolute;
  top: -4px;
  right: -3px;

  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;

  background: var(--primary-dark);
  border: 1px solid var(--white);
  border-radius: 50%;

  color: var(--white);
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
}

.header_top {
  display: none;
  padding: 12px 0;
  background: var(--gray-50);
}

.top_wrap {
  display: flex;
  justify-content: space-between;
}

.location_button {
  display: flex;
  align-items: center;
}

.location_icon {
  width: 15px;
  height: 18px;
  margin-right: 8px;

  stroke: var(--green-gray-700);
}

.top_text {
  font-size: 12px;
  line-height: 1.5;
}

.top_right {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 20px;
  }
}

.top_line {
  width: 1px;
  height: 14px;
  background: var(--green-gray-300);
}

.auth_links {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 4px;
  }
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo {
  margin-right: 16px;
}

.logo_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;

  span {
    color: var(--primary);
  }
}

.icon_stroke {
  width: 32px;
  height: 32px;
  stroke: var(--gray-900);
}

.icon_fill {
  width: 32px;
  height: 32px;
  fill: var(--gray-900);
}

.user_menu_item {
  display: flex;
  align-items: center;
  width: 100%;
}

.user_menu_icon {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;

  fill: var(--gray-700);
}

.user_menu_text {
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.header_bottom_left {
  display: none;
  align-items: center;
  width: 40%;
}

.nav {
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.navbar_item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.search {
  display: flex;
  width: 100%;
}

.search_input_wrap {
  position: relative;
  display: flex;
  width: 100%;

  border: 1px solid var(--gray-100);
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.search_icon {
  position: absolute;
  top: 50%;
  left: 16px;

  width: 20px;
  height: 20px;

  transform: translateY(-50%);
  pointer-events: none;
}

.search_input {
  width: 100%;
  padding: 10px 0 10px 44px;

  color: var(--gray-900);
  border-radius: 6px 0 0 6px;

  &::placeholder {
    color: var(--gray-500);
  }

  &:focus-visible {
    outline: none;
  }
}

.search_btn {
  padding: 10px 24px;
  background: var(--primary);

  color: var(--white);
  font-weight: 600;

  border-radius: 0 6px 6px 0;
}


@media (min-width: 640px) {

}

@media (min-width: 1024px) {
  .header_top {
    display: block;
  }

  .header_bottom {
    padding: 20px 0;
  }

  .header_bottom_left {
    display: flex;
  }

  .search {
    max-width: 500px;
  }

  .nav {
    display: flex;
  }

  .logo {
    margin-right: 64px;
  }
}
