.search {
  display: flex;
  width: 100%;
}

.input_wrap {
  position: relative;
  display: flex;
  width: 100%;

  border: 1px solid var(--gray-100);
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;

  width: 20px;
  height: 20px;

  transform: translateY(-50%);
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 8px 0 8px 40px;

  color: var(--gray-900);
  font-size: 14px;
  border-radius: 6px 0 0 6px;

  &::placeholder {
    color: var(--gray-500);
  }

  &:focus-visible {
    outline: none;
  }
}

.btn {
  padding: 8px 16px;
  background: var(--primary);

  color: var(--white);
  font-size: 14px;
  font-weight: 600;

  border-radius: 0 6px 6px 0;
}


@media (min-width: 640px) {

}

@media (min-width: 1024px) {
  .search {
    max-width: 500px;
  }

  .input {
    padding: 10px 0 10px 44px;
    font-size: 16px;
  }

  .icon {
    left: 16px;
  }

  .btn {
    padding: 10px 24px;
    font-size: 16px;
  }
}
