.breadcrumbs {
  position: relative;
  padding: 24px 0;
  overflow: hidden;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 12px;

  &:last-child {
    & .page_link {
      color: var(--primary);
      pointer-events: none;
    }

    & .arrow_icon {
      display: none;
    }
  }
}

.page_link {
  color: var(--gray-600);
  font-size: 14px;
  line-height: 1.5;
}

.current_page {
  font-size: 14px;
  color: var(--primary);
}

.arrow_icon {
  margin-left: 12px;
  stroke: var(--gray-600);
}
