.input {
  width: 100%;
  padding: 13px 0 13px 15px;

  color: var(--gray-700);
  font-size: 16px;
  line-height: 1.3;

  border: 1px solid var(--gray-100);
  border-radius: 6px;
  outline: none;

  &::placeholder {
    color: var(--gray-400);
  }

  &:focus {
    color: var(--gray-900);
    border-color: var(--primary);
  }
}

.error {
  border-color:var(--red);

  &:focus {
    border-color: var(--red);
  }
}

.input_small {
  padding: 6px 0 6px 12px;
  font-size: 14px;
}
