
.top {
  padding: 16px 20px;
  border-bottom: 1px solid var(--gray-100);
}

.list {
  padding: 0 20px;
  border-bottom: 1px solid var(--gray-100);
}

.cols_wrap {
  display: grid;
  grid-template-columns: 24fr 7fr 11fr 8fr 22px;
  gap: 10px;
  align-items: center;
  max-width: 100%;
}
.col {
  display: flex;
}

.item {
  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-100);
  }
}

.item_info {
  display: flex;
  align-items: center;
  width: 100%;
}
.item_img_wrap {
  position: relative;
  margin-right: 12px;
  min-width: 90px;
  width: 90px;

  border-radius: 4px;
  overflow: hidden;
}
.item_img {
  max-width: 100%;
  width: 100px;
}

.item_title {
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  //overflow: hidden;
  //display: -webkit-box;
  //-webkit-line-clamp: 2;
  //-webkit-box-orient: vertical;
}

.item_price {
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.item_subtotal {
  color: var(--gray-900);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.item_btn_remove {
  border: 1px solid var(--gray-200);
  border-radius: 100px;

  &:hover {
    border-color: var(--gray-900);

    .item_btn_remove_icon {
      fill: var(--gray-900);
    }
  }
}

.item_btn_remove_icon {
  width: 20px;
  height: 20px;
  fill: var(--gray-600);
}

.count {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--gray-100);
  border-radius: 50px;
}

.count_btn {
  height: 34px;
  width: 34px;
  background: var(--gray-100);

  border-radius: 100%;

  &:disabled {

  }
}

.count_minus,
.count_plus {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 12px;
    height: 2px;
    background: var(--gray-900);

    border-radius: 2px;
    transform: translate(-50%, -50%);
  }
}

.count_plus {

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 2px;
    height: 12px;
    background: var(--gray-900);

    border-radius: 2px;
    transform: translate(-50%, -50%);
  }

}

.count_input {
  width: 40px;

  color: var(--gray-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  &:focus-visible {
    outline: none;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

.col_name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.40px;
  text-transform: uppercase;
  color: var(--gray-500);
}

.btn {
  padding: 14px 32px;
  background: var(--gray-50);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--gray-700);

  border-radius: 50px;
}