.checkbox_label {
  display: inline-flex;
  align-items: center;

  color: var(--gray-900);

  cursor: pointer;
}


.checkbox {
  position: relative;
  z-index: -1;

  width: 20px;
  height: 20px;
  margin-right: 8px;

  border: 1px solid var(--gray-200);
  border-radius: 3px;
  appearance: none;

  &:checked {
    background: var(--primary);
    border: none;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 16px;

    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3337 4.5L6.00033 11.8333L2.66699 8.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    opacity: 0;
    stroke: var(--white);
    transform: translate(-50%, -50%);
  }
}

