@import "reset";
@import "fonts";
@import "variables";
@import "scrollBar";
@import "container";
@import "buttons";


* {
  font-family: "Inter", sans-serif;
}


.main {
  flex-grow: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body_overflow {
  overflow: hidden;
}